@charset "UTF-8";
/* ======= Reseteo ======= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

/* ======= Import SCSS ======= */
/* ====== Google Font Import - Poppins ====== */
/* ====== Google Font Import - Bungee ====== */
/* ====== Colores Principales ====== */
/* ====== Transiciones ====== */
/* ====== Color al copiar texto en web ====== */
::selection {
  background-color: #3a3b3c;
  color: #fff; }

/* ====== Ancho y Alto del Scroll ====== */
html::-webkit-scrollbar {
  width: 8px;
  background-color: #18191a;
  border-radius: 4px;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5); }

/* ====== Ponemos un color de fondo y redondeamos las esquinas del thumb ====== */
html::-webkit-scrollbar-thumb {
  background: #f7df1e;
  border-radius: 4px; }

/* ====== Cambiamos el fondo y agregamos una sombra cuando esté en hover ====== */
html::-webkit-scrollbar-thumb:hover {
  background: #cab517;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }

/* ====== Botonera de cajas / Inicio ====== */
/* ====== Grow ====== */
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

body {
  background-color: #242526;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease; }
  body header {
    background-color: #18191a;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    body header .navbar {
      padding: 10px;
      margin-top: 50px;
      background-color: #242526;
      border-radius: 7px;
      box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5); }
    body header .logo__header img {
      width: 45px;
      border-radius: 7px; }
    body header .titulo__footer {
      width: auto;
      height: auto; }
      body header .titulo__footer h2 {
        color: #ccc;
        font-size: 16px;
        margin: 0; }
    body header .redes__header .html {
      color: #f06529; }
    body header .redes__header .css {
      color: #2965f1; }
    body header .redes__header .react {
      color: #61DBFB; }
    body header .redes__header a {
      padding-top: 15px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px; }
      body header .redes__header a:hover {
        border: 1px #f7df1e solid;
        border-radius: 7px;
        background-color: #3a3b3c; }
      body header .redes__header a i {
        font-size: 30px;
        color: #ccc; }

.home {
  height: 100%;
  width: 100%;
  background-color: #18191a;
  transition: all 0.3s ease; }
  .home .titulo .contenedor__titulo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; }
    .home .titulo .contenedor__titulo .contenido__titulo {
      margin-top: 50px; }
      .home .titulo .contenedor__titulo .contenido__titulo h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.5rem;
        color: #ccc;
        font-family: 'Bungee', cursive; }
      .home .titulo .contenedor__titulo .contenido__titulo p {
        font-size: 1.25rem;
        color: #9b9d9e; }
  .home .tema {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    .home .tema .caja .card__caja {
      height: 150px;
      background-color: #242526;
      box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px; }
      .home .tema .caja .card__caja .info__caja {
        word-wrap: break-word;
        text-align: center; }
        .home .tema .caja .card__caja .info__caja h2 {
          font-size: 22px;
          color: #ccc;
          margin-bottom: 20px;
          font-family: 'Bungee', cursive; }
        .home .tema .caja .card__caja .info__caja .boton__caja a button {
          background-color: #242526;
          color: #ccc;
          border-style: none;
          border-radius: 7px;
          box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
          border: 1px #f7df1e solid;
          font-size: 13px; }
          .home .tema .caja .card__caja .info__caja .boton__caja a button:hover {
            box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
            background-color: #3a3b3c;
            border: 1px #cab517 solid; }

.home {
  height: 100%;
  width: 100%;
  background-color: #18191a;
  transition: all 0.3s ease;
  /* ======= Contenido de la Clase 1 ======= */ }
  .home .clase1 {
    background-color: #18191a;
    width: 100%;
    margin-top: 45px; }
    .home .clase1 .title__clase1 {
      text-align: center;
      margin-bottom: 40px; }
      .home .clase1 .title__clase1 h2 {
        color: #3a3b3c;
        font-size: 44px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Bungee', cursive;
        color: #ccc; }
    .home .clase1 .contenido__clase1 {
      text-align: center; }
      .home .clase1 .contenido__clase1 .img-cont__clase1 {
        margin-bottom: 50px; }
        .home .clase1 .contenido__clase1 .img-cont__clase1 img {
          border-radius: 7px;
          max-width: 100%;
          height: auto;
          width: 650px; }
      .home .clase1 .contenido__clase1 .separadores {
        color: #f7df1e;
        margin-top: 20px;
        margin-bottom: 20px; }
      .home .clase1 .contenido__clase1 .cont__clase1 {
        margin-top: 45px;
        margin-bottom: 45px; }
        .home .clase1 .contenido__clase1 .cont__clase1 h2 {
          text-align: left;
          font-size: 25px;
          font-family: 'Bungee', cursive;
          color: #3a3b3c;
          margin-top: 30px;
          color: #ccc; }
        .home .clase1 .contenido__clase1 .cont__clase1 .sub-titulos {
          font-size: 20px;
          color: #ccc; }
        .home .clase1 .contenido__clase1 .cont__clase1 .parrafos {
          font-size: 16px;
          text-align: left;
          margin-top: 1rem;
          margin-bottom: 1rem;
          color: #9b9d9e; }
        .home .clase1 .contenido__clase1 .cont__clase1 pre {
          box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5); }
      .home .clase1 .contenido__clase1 .lista {
        text-align: left;
        line-height: 30px;
        color: #9b9d9e; }
    .home .clase1 .botones__cambio {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 7px; }
      .home .clase1 .botones__cambio .boton__caja a button {
        background-color: #242526;
        color: #ccc;
        border-style: none;
        border-radius: 7px;
        box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
        border: 1px #f7df1e solid;
        font-size: 13px; }
        .home .clase1 .botones__cambio .boton__caja a button:hover {
          box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
          background-color: #3a3b3c;
          border: 1px #cab517 solid; }
  .home :not(pre) > code[class*=language-],
  .home pre[class*=language-] {
    background-color: #242526; }

footer {
  z-index: 666;
  background-color: #18191a;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .navbar {
    width: 1320px;
    height: 80px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #242526;
    border-radius: 7px;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5); }
  footer .logo__footer img {
    width: 45px;
    border-radius: 7px; }
  footer .titulo__footer {
    width: auto;
    height: auto; }
    footer .titulo__footer h2 {
      color: #ccc;
      font-size: 16px;
      margin: 0; }
  footer .redes__footer .facebook {
    color: #0165E1; }
  footer .redes__footer .discord {
    color: #7289DA; }
  footer .redes__footer a {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; }
    footer .redes__footer a:hover {
      border: 1px #f7df1e solid;
      border-radius: 7px;
      background-color: #3a3b3c; }
    footer .redes__footer a i {
      font-size: 30px;
      color: #ccc; }

/* ====== Por debajo de 1400px ====== */
/* ====== Por debajo de 1200px ====== */
/* ====== Por encima de 1200px ====== */
/* ====== Por debajo de 1005px ====== */
/* ====== Por debajo de 992px ====== */
/* ====== Por debajo de 789px ====== */
/* ====== Por encima de 768px ====== */
/* ====== Por debajo de 768px ====== */
/* ====== Por encima de 768px ====== */
/* ====== Por debajo de 576px ====== */
@media screen and (max-width: 576px) {
  .home .titulo .contenedor__titulo .contenido__titulo h2 {
    font-size: 2.8rem; }
  .home .titulo .contenedor__titulo .contenido__titulo p {
    font-size: 0.885rem; }
  .home .clase1 .title__clase1 h2 {
    font-size: 36px; }
  .home .clase1 .contenido__clase1 .cont__clase1 h2 {
    font-size: 24px; }
  header .navigation {
    width: 365px; }
  footer .navigation2 {
    width: 365px; } }
