.home {
    height: 100%;
    width: 100%;
    background-color: $body-color;
    transition: $tran-05;

    .titulo {
        .contenedor__titulo {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;

            .contenido__titulo {
                margin-top: 50px;

                h2 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 3.5rem;
                    color: $text-color;
                    font-family: 'Bungee', cursive;
                }

                p {
                    font-size: 1.25rem;
                    color: $paragraphcolor;
                }
            }
        }
    }

    .tema {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .caja {

            .card__caja {
                height: 150px;
                background-color: $sidebar-color;
                box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 7px;

                .info__caja {
                    word-wrap: break-word;
                    text-align: center;

                    h2 {
                        font-size: 22px;
                        color: $text-color;
                        margin-bottom: 20px;
                        font-family: 'Bungee', cursive;
                    }

                    .boton__caja {
                        a {
                            button {
                                background-color: $sidebar-color;
                                color: $text-color;
                                border-style: none;
                                border-radius: 7px;
                                box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                                border: 1px $secondary-color solid;
                                font-size: 13px;

                                &:hover {
                                    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                                    background-color: $primary-color;
                                    border: 1px $secondary-color2 solid;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}