/* ====== Botonera de cajas / Inicio ====== */
@mixin boton__caja {
    .boton__caja {
        a {
            button {
                background-color: $sidebar-color;
                color: $text-color;
                border-style: none;
                border-radius: 0.4375rem;
                box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                border: 1px $secondary-color solid;
                font-size: 0.8125rem;

                &:hover {
                    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                    background-color: $primary-color;
                    border: 1px $secondary-color2 solid;
                }
            }
        }
    }
}