/* ====== Colores Principales ====== */
$body-color: #18191a;
$sidebar-color: #242526;
$primary-color: #3a3b3c;
$secondary-color: #f7df1e;
$secondary-color2: #cab517;
$toggle-color: #fff;
$text-color: #ccc;
$paragraphcolor: #9b9d9e;

/* ====== Transiciones ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;